
<launch>
 <arg name="mav_name" default="hummingbird"/>
<group ns="$(arg mav_name)">
      <remap from="odometry" to="/hummingbird/vi_sensor/ground_truth/odometry" />
    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_$(arg mav_name).yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/$(arg mav_name).yaml" />
    </node>
   <node name="action_controller" pkg="action_controller" type="action_controller" output="screen"/>
</group>
</launch>

